* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

    /* Dark theme */
    background-color: rgb(30, 25, 36);
    color: white;
}

.square {
    width: 2.5rem;
    height: 2.5rem;

    /* Light theme */
    background-color: rgb(160, 141, 182);

    /* Dark theme */
    background-color: rgb(96, 72, 122);

    display: flex;
    justify-content: center;
    align-items: center;
    /* color: yellow; */
    color: rgb(255, 255, 140);
    color: rgb(25, 13, 37);
    border-radius: 8px;
    /* transition: background-color 0.1s; */
}

main {
    margin: 132px auto 32px;
    width: fit-content;
    position: relative;
}

#board {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0 auto;
    width: fit-content;
}

.board-row {
    display: flex;
    gap: 2px;
}

.clicked {
    /* background-color: rgb(205, 205, 205); */
    /* background-color: rgb(219, 212, 227); */
    /* background-color: white; */

    font-weight: bold;
    /* color: rgb(99, 99, 99); */

    /* Light theme */
    background-color: white;
    color: rgb(86, 66, 109);;

    /* Dark theme */
    color: white;
    background-color: rgb(30, 25, 36);;
    color: rgb(222, 210, 235);
}

.bomb {
    background-color: rgb(97, 42, 42) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    color: rgb(41, 0, 0);
}

.bomb-clicked {
  background-color: rgb(177, 38, 38) !important;
  color: rgb(65, 0, 0) !important;
}

#game-over-modal {
    display: none;
    position: absolute;
    background-color: white;
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0,-50%);
    padding: 16px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    width: fit-content;
}

.modal-container {
    position: relative;
    height: 100%;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 1.1rem;
}

#reset-btn {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);
    border: 1px solid blue;
    border: 1px solid rgb(222, 210, 235);
    color: blue;
    color: rgb(222, 210, 235);
    text-transform: uppercase;
    border-radius: 8px;
    transition: 0.2s;
}

#reset-btn:hover {
    background-color: blue;
    background-color: rgb(96, 72, 122);
    border: 1px solid rgb(96, 72, 122);
    color: white;
    cursor: pointer;
}

#game-header {
  background-color: rgb(30, 25, 36);
  display: flex;
  font-size: 1.4rem;
  margin-bottom: 12px;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 12px 32px;
  /* height: 72px; */
  /* box-shadow: 0 0 1em rgba(0, 0, 0, 0.6); */
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

#game-header h1 {
  font-size: 1.8rem;
}

#game-header div {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

#new-game {
  text-align: center;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn {
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(222, 210, 235);
  color: white;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.2s;
  padding: 16px;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid rgb(96, 72, 122);
  background-color: rgb(96, 72, 122);
}

#new-game-btn {
  background-color: rgb(30,25,36);
  border: 1px solid rgb(222, 210, 235);
  color: white;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.2s;
  padding: 16px;
}

#new-game-btn:hover {
  cursor: pointer;
  border: 1px solid rgb(96, 72, 122);
  background-color: rgb(96, 72, 122);
}

#new-game-modal {
    display: none;
    position: absolute;
    background-color: white;
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    transform: translate(0,-50%);
    padding: 16px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

#game-header h1 {
  font-family: 'Press Start 2P', cursive;
}

#game-header div.header-items {
  display: flex;
  gap: 16px;
  align-items: center;
}

#game-header .fa-question-circle {
  order: 3;
}

#game-header .fa-cog {
  order: 4;
}

#game-header .bomb-number {
  order: 1;
}

#game-header .timer {
  order: 2;
}

@media screen and (max-width: 768px) {
  #game-header {
    gap: 0;
    row-gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 32px;
  }

  main {
    margin-top: 172px;
  }

  #game-header h1 {
    flex: 1;
    text-align: center;
  }

  #game-header div.header-items {
    gap: 0;
    flex: 1;
    justify-content: space-between;
  }
}